html, body {
    height: 100%;
}

.questionnaire {
    display: flex;

    width: 100%;
    height: 100%;

    background-color: aqua;
}

.container {
    flex-grow: 1;

    height: 100%;

    margin-left: 112px;
    margin-right: 112px;

    background-color: blueviolet;
}

.questionnaire-row {
    display: flex;

    width: 100%;

    margin-top: 112px;

    background-color: aquamarine;
}

.card-image {
    width: 400px;
    height: 547px;
}

.questionnaire-form {
}

.questionnaire-form__input-form {
    display: flex;
    flex-direction: column;

    width: 400px;
}