html, body {
    height: 100%;
}

.questionnaire {
    display: flex;

    width: 100%;
    height: 100%;

    background-color: aqua;
}

.container {
    flex-grow: 1;

    height: 100%;

    margin-left: 112px;
    margin-right: 112px;

    background-color: blueviolet;
}

.questionnaire-row {
    display: flex;

    width: 100%;

    margin-top: 112px;

    background-color: aquamarine;
}

.card-image {
    width: 400px;
    height: 547px;
}

.questionnaire-form {
}

.questionnaire-input-form {
    display: flex;
    flex-direction: column;

    width: 400px;
}

.questionnaire-input-form__input-field {
    width: calc(400px - 16px);
    height: 40px;

    padding-left: 16px;

    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    background: #F8F8F8;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #222222;
}

.questionnaire-input-form__input-field::placeholder {
    color: #A9A9A9;

    letter-spacing: 0.5px;
}

.questionnaire-input-form__input-field:active,
.questionnaire-input-form__input-field:focus {
    outline: none;
}

.questionnaire-input-form__input-field-label {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    color: #222222;
}