html, body {
    height: 100%;
}

form {
    margin: 0;
}

.questionnaire {
    display: flex;

    width: 100%;
    height: 100%;
}

.container {
    flex-grow: 1;

    height: 100%;

    margin-left: 112px;
    margin-right: 112px;
}

@media (max-width: 1120px) {
    .container {
        margin-left: 0;
        margin-right: 0;
    }
}

.questionnaire-row {
    display: flex;

    width: 100%;

    margin-top: 112px;
}

@media (max-width: 1120px) {
    .questionnaire-row {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .questionnaire-row {
        margin-top: 40px;
    }
}

.card {
    position: relative;

    margin-right: 176px;
}

@media (max-width: 1120px) {
    .card {
        margin-left: 179px;
    }
}

@media (max-width: 768px) {
    .card {
        margin-left: auto;
        margin-right: auto;
    }
}

.card-image {
    width: 400px;
    height: 547px;
}

@media (max-width: 425px) {
    .card-image {
        width: 350px;
        height: 480px;
    }
}

.card-title {
    position: absolute;

    top: 230px;
    left: 144px;

    z-index: 3;

    width: 398px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 88px;
    line-height: 96px;

    color: #7D98F7;

    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    .card-title {
        left: 0;
    }
}

@media (max-width: 425px) {
    .card-title {
        width: 330px;

        font-size: 72px;
    }
}

.questionnaire-form {
}

@media (max-width: 1120px) {
    .questionnaire-form {
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .questionnaire-form {
    }
}

.questionnaire-input-form {
    display: flex;
    flex-direction: column;

    max-width: 400px;
}

@media (max-width: 768px) {
    .questionnaire-input-form {
        align-items: flex-start;
    }
}

.questionnaire-input-form__input-field {
    width: calc(400px - 16px);
    height: 40px;

    padding-left: 16px;

    margin-top: 8px;

    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    background: #F8F8F8;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #222222;
}

@media (max-width: 425px) {
    .questionnaire-input-form__input-field {
        width: calc(350px - 16px);
    }
}

.questionnaire-input-form__input-field::placeholder {
    color: #A9A9A9;

    letter-spacing: 0.5px;
}

.questionnaire-input-form__input-field:active,
.questionnaire-input-form__input-field:focus {
    outline: none;
}

.questionnaire-input-form__input-field-label {
    margin-bottom: 16px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    color: #222222;
}

.radio-button-container__radio-button-label {
    display: flex;
    align-items: center;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #888888;
}

.questionnaire-input-form__input-field-label_password {
    margin-bottom: 40px;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;

    width: 32px;
    height: 32px;

    margin: 0 16px 0 0;

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;

    background-color: #F8F8F8;

    font: inherit;

    color: currentColor;

    transform: translateY(-0.075em);

    cursor: pointer;
}

input[type="radio"]:checked {
    border: none;

    background-color: #7D98F6;
}

input[type="radio"]::before {
    content: "";

    position: absolute;

    display: block;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 12px;
    height: 12px;

    margin: auto;

    border-radius: 15px;

    background-color: #FFFFFF;

    text-align: center;

    transform: scale(0);

    transition: 120ms transform ease-in-out;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="radio"]:checked + label {
    color: #222222;
}

.radio-button-container {
    display: flex;
    align-items: center;

    margin-bottom: 16px;
}

.questionnaire-form__submit-button {
    align-self: flex-end;

    width: 218px;
    height: 56px;

    margin-top: 24px;

    border: none;
    border-radius: 25px;

    outline: none;

    background: #7D98F6;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 32px;

    color: #FFFFFF;

    transition: 0.5s ease;
}

@media (max-width: 1120px) {
    .questionnaire-form__submit-button {
        margin-bottom: 40px;
    }
}

.questionnaire-form__submit-button:hover {
    background: #5D71B8;
}